/*http://paletton.com/#uid=33G0Q0kwi++bu++hX++++rd++kX color scheme*/

body{
    background-color:#777777;
    color: #000;
}

header{
    background-color: #3D3D3D;
    text-align: center;
    margin: 0px;
    margin-bottom: 2em;
    border-radius: 15px;
    -webkit-transition: box-shadow linear .5s;
    transition: box-shadow linear .5s;
    
}

header:hover{
    box-shadow: 0 0 30px #8AE68A;
}

input[type="text"], textarea {

  background-color : #3D3D3D; 
  color: #8AE68A; 

}

nav{
    border: thin solid #000;
    background: #3D3D3D;
    border-radius: 2px;
    color:#8AE68A;
    margin:2em;
    width: 10%;
    float: left;
    
}
nav ul{
    display: inline-block;
    text-decoration: none;
}
#system{
      background-color : #3D3D3D; 
      color: #8AE68A; 
}
.navButton{

    border: thin solid #000;
    border-radius: 5px;
    color: #8AE68A; 
    list-style: none;
    margin-bottom: .5em;
    padding: .5em;
    text-align:center;
    -webkit-transition: box-shadow linear .5s;
    transition: box-shadow linear .5s;
}
.navButton:hover{
        box-shadow: 0 0 5px #8AE68A;
}
.navButton a{
        color: #8AE68A; 
}

.filter{
    background-color: #3D3D3D;
    color:#8AE68A;
    display: inline;
    margin: 1em;
    padding: 1em;
    border: solid thin #000;
    text-decoration: none;
    
}


body.home li#navHome, body.events li#navEvents, body.giveaway li#navGiveaway, body.submit li#navSubmit{
    
    background-color:#777777;
}




